.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#root {
    height: 100vh;
}

.logo {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
}