@import "../../config.scss";
.FormField {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 240px;
    height: 112px;
    left: 256px;
    top: 0px;
    span {
        position: static;
        width: 240px;
        height: 24px;
        left: 0px;
        top: 88px;
        /* Regular/Body M, 16 | 24 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        /* Utility/Error */
        color: $error;
    }
    input {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 0px 16px;
        position: static;
        width: 240px;
        height: 48px;
        left: 0px;
        top: 32px;
        /* Neutral/Lighten 70 */
        background-color: lighten($base, 70);
        /* Neutral/Base */
        border: 1px solid $base;
        box-sizing: border-box;
        /* Error */
        box-shadow: 0px 0px 0px 2px #A3270C;
    }
    label {
        position: static;
        width: 240px;
        height: 24px;
        left: 0px;
        top: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* Neutral/Base */
        color: $base;
    }
}