@import "../../config.scss";
.InternList {
    padding: 40px 80px 80px 80px;
    background-color: lighten($base, 70);
    &__title {
        position: static;
        width: 496px;
        height: 47px;
        left: calc(50% - 496px/2);
        top: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: $base;
        margin-bottom: 40px;
    }
}