@import "../../config.scss";
.InternItem {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: $primary;
    color: $onPrimary;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-color: $secondary;
        color: $onSecondary;
        @include shadow;
    }
    &__name {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &__email {
        font-size: 0.9rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
    }
}