@import "../../config.scss";
.InternItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    position: static;
    width: 496px;
    height: 64px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    box-sizing: border-box;
    &_even {
        background-color: lighten($base, 50);
    }
    &_odd {
        background-color: lighten($base, 60);
    }
    &:hover {
        border: 2px solid #222222;
        background-color: lighten($base, 70);
    }
    &__name {
        position: static;
        width: 127px;
        height: 24px;
        left: 24px;
        top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #222222;
    }
}